<launch>
<!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find places_learning)/../navigation/hobbit_map_ISTU_20131024.yaml"/>

 <group if="true">
    <include file="$(find hobbit_launch)/launch/basecam.launch"></include>
  </group>

  <group if="true">
    <include file="$(find virtual_laser)/launch/startup.launch" />
    <include file="$(find hobbit_launch)/../navigation/amcl_diff_hobbit.launch" />
    <include file="$(find get_current_room)/launch/startup_get_current_room.launch" />
    <include file="$(find places_learning)/launch/startup_places_learning.launch" />
  </group>

</launch>
