<launch>
  <node pkg="localization_monitor" type="localization_monitor" name="localization_monitor" output="screen">

	<param name="uncertainty_thres" value="0.2"/>
	<param name="score_thres" value="0.5"/> #depends on dynamic nature of the environment and quality of map
	<param name="inflation_thres" value="0.2"/> #depends on accepted localization accuracy
	<param name="max_lim" value="3.0"/> #sensor maximum range with acceptable accuracy
	<param name="min_valid_points" value="20"/>

	<param name="ang_thres" value="15.0"/> # when to assess instantaneous localization status
	<param name="dis_thres" value="0.2"/>

  	<param name="dis_thres_check" value="3.5"/> #distance to be covered between localization checks
	<param name="rate_thres" value="0.5"/>	#rate of succesful localization results between localization checks

	<param name="activate_recovery" value="false"/>

  </node>
</launch>

