<launch>
<node name="place_handler" pkg="hobbit_smach" type="places_objects.py" output="log" />
<node name="learn_object" pkg="hobbit_smach" type="learn_object.py" output="log" />
<node name="goto" pkg="hobbit_smach" type="goto.py" output="log" />
<node name="emergency_user" pkg="hobbit_smach" type="emergency_user.py" output="log" />
<node name="emergency_bathroom" pkg="hobbit_smach" type="emergency_bathroom.py" output="log" />
<node name="battery_monitor" pkg="hobbit_smach" type="battery_monitor.py" output="log" />
<node name="recharge" pkg="hobbit_smach" type="recharge.py" output="log" />
<node name="sos_monitor" pkg="hobbit_smach" type="sos_monitor.py" output="log" />
<node name="hobbit_master" pkg="hobbit_smach" type="master.py" output="log" />
<node name="follow_me" pkg="hobbit_smach" type="follow_me.py" output="log" />
<node name="ArmActionServer" pkg="hobbit_smach" type="ArmActionServer.py" output="log" />
<rosparam file="/opt/ros/hobbit_hydro/src/hobbit_params.yaml" command="load"/>
<node name="away_break" pkg="hobbit_smach" type="away.py" output="log" />
<include file="$(find hobbit_smach)/launch/SavePCD.launch" />
</launch>
