<launch>
<param name="~prefix" type="str" value="/localhome/demo/error/top_error_" />
<param name="/hobbit/pcd_path" type="str" value="/localhome/demo/error/" />
<arg name="input" value="input:=/top/error/points" />
<node name="pointcloud_to_pcd" pkg="pcl_ros" type="pointcloud_to_pcd" args="$(arg input)" output="log"/>
</launch>
