<launch>
<param name="~prefix" type="str" value="/localhome/demo/recordings/navigation_top_failure_" />
<arg name="input" value="input:=/navigation/top_failure/points" />
<node name="navigation_top_failure_datarecord" pkg="pcl_ros" type="pointcloud_to_pcd" args="$(arg input)" output="log"/>
</launch>
