<launch>
<param name="~prefix" type="str" value="/localhome/demo/recordings/bringobject_top_failure_" />
<arg name="input" value="input:=/bringobject/top_failure/points" />
<node name="bringobject_failure_datarecord" pkg="pcl_ros" type="pointcloud_to_pcd" args="$(arg input)" output="log"/>
</launch>
