<launch>
	
	<node 	name="CloudSegmenthor" 
		pkg="table_object_detector" 
		type="thor" 
		args= "" 
		output="log">        
		<remap from="~input" to="/SS/points2" />
	    	<remap from="~caminfo" to="/SS/rgb/camera_info" />
	</node>

	<node   name="Trigger" 
		pkg="table_object_detector" 
	 	type="trigger.py" 
		args= "" 
		output="log" 
		respawn="true">        
	</node>

	<node   name="trigger_ss_srv" 
		pkg="table_object_detector" 
	 	type="trigger_ss_srv.py" 
		args= "" 
		output="screen" 
		respawn="true">        
	</node>

	<node 	name="point_cloud_edit" 
		pkg="table_object_detector" 
		type="pc_merge" 
		output="log" 
		respawn="false">        
    	</node>

    <node   name="pc_to_iv" 
        pkg="table_object_detector" 
        type="pc_to_iv" 
        args= "" 
        output="log" 
        respawn="true">        
    </node>

</launch>





