<launch>
	
	<node name="TOD" pkg="table_object_detector" type="thor" args= "" output="screen">        
	    <remap from="~input" to="/SS/points2" />
	    <remap from="~caminfo" to="/SS/rgb/camera_info" />
	</node>

	<node   name="Trigger" 
		pkg="table_object_detector" 
	 	type="trigger.py" 
		args= "" 
		output="screen" 
		respawn="true">        
	</node>

</launch>





