<launch>   
    <node name="follow_user" pkg="follow_user" type="run_it.sh" required="true">
      <param name="name" value="follow_user" /> 

      <param name="fromDepthTopic" value="/basecam/depth/image" /> 
      <param name="fromDepthTopicInfo" value="/basecam/depth/camera_info" /> 
      <param name="fromRGBTopic" value="/basecam/rgb/image_raw" /> 
      <param name="fromRGBTopicInfo" value="/basecam/rgb/camera_info" /> 
 
    </node>   
</launch>
