<launch>
  <node pkg="person_following" type="person_following" name="person_following" output="screen">

  	<param name="x_sensor" value="0.135"/>
  	<param name="dis2target" value="0.5"/>
	<param name="dis_thres" value="0.15"/>
  	<param name="v_thres" value="0.2"/>
	<param name="time_limit" value="30.0"/>
	<param name="time_limit_no_feedback" value="30.0"/>

  </node>
</launch>

