[Desktop Entry]
Type=Application
Name=Hobbit
Exec=/bin/bash -i -c "/opt/ros/hobbit_hydro/src/hobbit_launch/launch/startHobbitPT2.sh"
Icon=/opt/ros/hobbit_hydro/src/doc/hobbitIcon.png
Comment=KickStarts Hobbit!
