<launch>

  <group if="true">
    <include file="$(find HobbitLaunch)/launch/top_camera_xpc2.launch"></include>
<!--    <include file="$(find HobbitLaunch)/launch/base_camera_xpc2.launch"></include>-->
  </group>
  
  <group if="true">
    <include file="$(find DecisionService)/launch/startup.launch" />
    <include file="$(find Coordinator)/launch/startup.launch" />
<!--    <include file="$(find Face)/launch/startup.launch" /> -->
<!--    <include file="$(find Emotionator)/launch/startup.launch" /> --> 
<!--    <include file="$(find ActionSequencer)/launch/startup.launch" /> -->
    <include file="$(find Head)/launch/startup_xpc2.launch" />
    <include file="$(find ServicerBatteryState)/launch/startup.launch" />



  </group>

</launch>
