<launch>   
    <node name="emergency_detector" pkg="emergency_detector" type="run_it.sh" respawn="true">
      <param name="name" value="emergency_detector" /> 

      <param name="fromTopDepthTopic" value="/headcam/depth_registered/image_rect" /> 
      <param name="fromTopDepthTopicInfo" value="/headcam/depth_registered/camera_info" /> 
      <param name="fromTopRGBTopic" value="headcam/rgb/image_rect_color" /> 
      <param name="fromTopRGBTopicInfo" value="/headcam/rgb/camera_info" /> 

      <param name="fromBottomDepthTopic" value="/basecam/depth/image" /> 
      <param name="fromBottomDepthTopicInfo" value="/basecam/depth/camera_info" /> 
      <param name="fromBottomRGBTopic" value="basecam/rgb/image_raw" /> 
      <param name="fromBottomRGBTopicInfo" value="/basecam/rgb/camera_info" /> 

      <param name="minHumanTemperature" value="31.4" /> 
      <param name="maxHumanTemperature" value="37.1" /> 
      <param name="minimumAllowedHolePercentage" value="15" /> 
      <param name="maximumAllowedHolePercentage" value="75" /> 
      <param name="temperatureZoneWidth" value="300" /> 
      <param name="temperatureZoneHeight" value="200" /> 
      <param name="minScoreTrigger" value="1600" /> 
      <param name="maxScoreTrigger" value="2000" /> 
      <param name="maxDepth" value="2800" /> 

    </node>   
</launch>
