<launch>   
    <node name="emergency_detector" pkg="emergency_detector" type="run_it.sh" required="true">
      <param name="name" value="emergency_detector" /> 

      <param name="fromDepthTopic" value="/headcam/depth_registered/image_rect" /> 
      <param name="fromDepthTopicInfo" value="/headcam/depth_registered/camera_info" /> 
      <param name="fromRGBTopic" value="headcam/rgb/image_rect_color" /> 
      <param name="fromRGBTopicInfo" value="/headcam/rgb/camera_info" /> 

      <param name="minHumanTemperature" value="31.4" /> 
      <param name="maxHumanTemperature" value="37.1" /> 
      <param name="minimumAllowedHolePercentage" value="15" /> 
      <param name="maximumAllowedHolePercentage" value="75" /> 
      <param name="temperatureZoneWidth" value="300" /> 
      <param name="temperatureZoneHeight" value="200" /> 
      <param name="minScoreTrigger" value="1600" /> 
      <param name="maxScoreTrigger" value="2000" /> 
      <param name="maxDepth" value="2800" /> 

    </node>   
</launch>
