<launch>
  <node pkg="come_closer" type="come_closer" name="come_closer" output="screen">

  	<param name="margin" value="0.05"/>
	<param name="front_dis" value="0.18"/>
	<param name="x_sensor" value="0.135"/>
	<param name="time_limit_secs" value="120.0"/>
	<param name="ang_margin" value="22"/>

  </node>
</launch>

