<launch>
  <node pkg="top_scan_points" type="top_scan_points" name="top_scan_points" output="screen">

  <param name="robot_front" value="0.22"/>
  <param name="robot_width" value="0.44"/>
  <param name="min_height" value="0.15"/>
  <param name="max_height" value="1.4"/>

  <param name="origin_link" value="base_link"/>
  <param name="target_link" value="headcam_rgb_optical_frame"/>

  </node>
</launch>
