<launch>


<!--<node pkg="HobbitLaunch" type="ParameterManager.py" name="ParameterManager" output="screen" args="$(find HobbitLaunch)"></node>-->

<node pkg="HobbitLaunch" type="DictionaryManager.py" name="DictionaryManager" output="screen" args="$(find HobbitLaunch)"></node>
<node pkg="DecisionService" type="DecisionService" name="DecisionServicer" output="screen" args=""></node>
<node pkg="Coordinator" type="CoordinatorEngine" name="CoordinatorEngine" output="screen" args=""></node>



</launch>
